.phone-name,.date-time {
    display: flex;
    flex-direction: row;
}

.name,.date {
    margin-right: 2vh;
}

.inputs > * {
    margin-bottom: 1vh;
}

.blurb {
    font-size: small;
    margin-top: 5vh;
}