.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 8%;
    position: fixed;
    width: 100%;
    bottom: -1px;
    background-color: #efefef;
    /* padding-bottom: 10px; */
    margin-left: -5%;
}

.nav-button:hover {
    background: #fff;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    height: 100%;
    padding: 0 20px;
    cursor: pointer;
    color: black;
    text-decoration: none;
    display:flex;
    flex-direction:column;
}