.order-page {
    height: 100%;
    min-height: 88vh;
    /* margin-top: 8vh; */
}

.timeline {
    padding: 2.5vh;
    /* padding-left:  2.5; */
    background: white;
    border-radius: 12px;
}
/* 
.table {
    padding: 2.5vh;
    background: white;
    border-radius: 12px;
    margin-bottom: 4vh;
} */