/* .restaurant-list {
    background-color: gray;
    color: gray;
} */

.main-filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}

.size-input {
    width: 20%;
}

.restaurant-list-zip-code {
    width: 40%;
}

.restaurant-list-date-time {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 10px;
    width: 100%;
}

.date-input {
    width: 60%;
    margin-right: 5px;
}

.time-input {
    width: 30%;
}
.address-and-filter {
    display: flex;
    margin-bottom: 1vh;
}
.address-input {
    width: 100%;
}
.filter-button {
    /* margin-top:2.9vh; */
    margin-left: 2vh;

}

.filter-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.filter-name {
    margin-left: 7px;
    width: auto;
}

.tags{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}