.restaurant-page {
    margin-top: -2vh;
}

.submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4vh;
    margin-bottom: 2vh;
}

.restaurant-description {
    margin-top: 2vh;
}

.floating-submit-button{
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.restaurant-logo {
    max-height: 200px;
    margin-bottom: 12px;
}

.restaurant-address {
    padding: 1vh;
    background: white;
    border-radius: 12px;
}

.open-cart{
    margin-top: 20px;
    text-align: center;
}